name: Main workflow

on: [pull_request, push]

jobs:
  plugin_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Ensure rustup-init is installed
        run: |
            mkdir -p ~/bin
            curl https://sh.rustup.rs -sSf > ~/bin/rustup-init
            echo ~/bin >> $GITHUB_PATH

      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v2
        with:
          command: rustc --version

  lint:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run ShellCheck
        id: shellcheck
        uses: redhat-plumbers-in-action/differential-shellcheck@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ always() }}
        name: Upload artifact with ShellCheck defects in SARIF format
        uses: actions/upload-artifact@v3
        with:
          name: Differential ShellCheck SARIF
          path: ${{ steps.shellcheck.outputs.sarif }}

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install shfmt
        run: go install mvdan.cc/sh/v3/cmd/shfmt@latest

      - name: Run shfmt
        run: |
            export PATH="${PATH}:$(go env GOPATH)/bin"
            make check-format
